.value-box .value {
    color: white;
}

.value-box .icon .fa {
    color: white;
}

#number-of-datapoints .inner .caption {
  color: white;
  font-weight: 500;
}

.navbar.navbar-inverse {
  font-size: 1rem;
  font-weight: 400;
  font-family: Roboto;
  background-color: #5D085D !important;
}

.nav-tabs-custom .nav-tabs li.active a {
  font-size: 1rem;
  font-weight: 400;
  font-family: Roboto;
  color: #5D085D;
}

.nav-tabs-custom .nav-tabs li:not(.active) a {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 600;
  color: #758A0C;
}

.section.sidebar {
  background-color: white;
}
